<div class="container">
  <div class="row">
  <h4 class="col-md-3 mt-4">商品一覧</h4>
    <div class="col"></div>
      <%= link_to new_admin_item_path, class: "col-md-1" do %>
        <button type="button" class="btn btn-success btn-success btn-circle mt-3">+</button>
      <% end %>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr class="active">
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td>
              <% if item.is_active %>
              <div class="text-success">販売中</div>
              <% else %>
              <div class="text-secondary">販売停止中</div>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="offset-md-6 mt-4"><%= paginate @items %></div>
</div>
