<div class="container">
  <div class="row">
    <h4>商品新規登録</h4>

  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @item, url: admin_items_path do |f| %>
    <div="col-xs-8">
      <div>
        <%= f.label :商品画像 ,class: "col-xs-3" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div>
        <%= f.label :商品名 ,class: "col-xs-3" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :商品説明 ,class: "col-xs-3" %>
        <%= f.text_area :introduction %>
      </div>
      <div>
        <%= f.label :ジャンル ,class: "col-xs-3" %>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      </div>
      <div>
        <%= f.label :税抜価格 ,class: "col-xs-3" %>
        <%= f.text_field :price %>円
      </div>
      <div>
        <%= f.label :販売ステータス ,class: "col-xs-3" %>
        <%= f.radio_button :is_active, true %>販売中 <%= f.radio_button :is_active, false %>販売停止中
      </div>
    </div>
    <div><%= f.submit '新規登録', class: "btn btn-success btn-success btn-circle" %></div>
  <% end %>
  </div>
</div>
