<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <table>
    <tr class="field">
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :パスワード %><br />
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr class="actions">
      <td></td>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>
<% end %>

<%= render "admin/shared/links" %>
