<div class="container my-4">
  <div class="row my-3">
    <h4 class="bg-light">注文履歴一覧</h4>
  </div>

  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: 20%">購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
            <td><%= order.customer.full_name %></td>
            <td>
              <% @sum = 0 %>
              <% order.order_details.each do |order_detail| %>
              <% @sum += order_detail.amount.to_i %>
              <% end %>
              <%= @sum %>
            </td>
            <td><%= Order.receive_statuses_i18n[order.receive_status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="offset-md-4 mt-4"><%= paginate @orders %></div>
  </div>
</div>