<div class="container my-4">
  <div class="row offset-1 mb-3">
    <h4 class="bg-light">新規会員登録</h4>
  </div>

  <table class="table table-borderless form-group">
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <tr class="field">
          <td><%= f.label :名前 %></td>
          <td>
            <%= f.text_field :last_name, autofocus: true, placeholder: "(姓)" %>
          </td>
          <td>
            <%= f.text_field :first_name, autofocus: true, placeholder: "(名)" %>
          </td>
        </tr>

        <tr class="field">
          <td><%= f.label :フリガナ %></td>
          <td>
            <%= f.text_field :last_name_kana, autofocus: true, placeholder: "(セイ)" %>
          </td>
          <td>
            <%= f.text_field :first_name_kana, autofocus: true, placeholder: "(メイ)" %>
          </td>
        </tr>

        <tr class="field">
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr class="field">
          <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :postal_code, autofocus: true %></td>
        </tr>

        <tr class="field">
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.text_field :address, size: "40" %></td>
        </tr>

        <tr class="field">
          <td><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></td>
          <td><%= f.text_field :telephone_number, autofocus: true %></td>
        </tr>

        <tr class="field">
          <td>
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
          </td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>

        <tr class="field">
          <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>

        <tr class="actions">
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success btn-success btn-circle btn-md col-md-7" %></td>
        </tr>
    <% end %>
  </table>

  <div class="row my-3 offset-1">
    <h4 class="bg-light">既に登録済みの方</h4>
  </div>

  <div class="row offset-1 col-sm-4">
      <div>
        <%= render "public/shared/links" %>からログインしてください
      </div>
  </div>
</div>