<h5>注文履歴一覧</h5>
  <table>
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td>
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
          </td>
          <td>
            <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %>
            <% end %>
          </td>
          <td><%= order.total_price.to_s(:delimited) %></td>
          <td><%= Order.receive_statuses_i18n[order.receive_status] %></td>
          <td><%= link_to "表示する", order_path(order.id) %></td>

        </tr>
      </tbody>
    <% end %>
    </table>
