<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr class="field">
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :password, "パスワード" %></td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>

    <tr class="field">
      <td></td>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>
<% end %>

<div>会員登録がお済みでない方</div>
<div>
<%= render "public/shared/links" %>
</div>
