<table>
  <thead>
    <tr>
      <th></th>
      <th><ジャンル検索></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, items_path(genre_id: genre.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= image_tag @item.get_image(200,100) %>
</div>

<div>
  <h4><%= @item.name %></h4>
    <div><%= @item.introduction %></div>
    <div>
      <span style="font-size:180%;">¥<%= @item.add_tax_price.to_s(:delimited) %></span>
      <span style="font-size:60%;">(税込)</span>
    </div>
  <%= form_with model: @cart_item, local:true do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <%= f.select :amount, *[1..10], {include_blank: '個数選択'} %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
</div>


