<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-all shadow-sm">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light mx-5">
          <%= link_to root_path do %>
            <%= image_tag "nagano_cake.jpg", size: '175x125' %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class ="nav-item border border-1 mx-1"><%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "注文履歴一覧", admin_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
              <% elsif customer_signed_in? %>
                <p>ようこそ、<%= current_customer.last_name %>さん！</p>
                <li class="nav-item border border-1 mx-1"><%= link_to "マイページ", customer_path(current_customer.id), class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
              <% else %>
                <li class="nav-item border border-1 mx-1"><%= link_to "About", home_about_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
                <li class="nav-item border border-1 mx-1"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
            </ul>
              <% end %>
          </div>
        </nav>
      <div class="search-all"><input name="search" placeholder="Search　                     🔎"></div>
      </header>
    </div>
    <main><%= yield %></main>
    <footer>
    </footer>
  </body>
</html>
